<%- include ('partials/header') %> 
<%- include ('partials/nav') %> 

<div class="container-fluid my-container beer-ticket-container d-flex flex-column align-items-center justify-content-center">

  <section class = "row ">
  <h1>Redeemed!</h1>
  </section>

  <section class = "row my-row my-row-beer-ticket my-row-beer-ticket-pre-redeem pattern-dots-sm">
    <h2>BEER TICKET: <%= beerTicketId %></h2>
    <div class='col-3'>
      <p><small>Giver:</small></p>
      <p><small>Receiver:</small></p>
      <p><small>Status:</small></p>
      <p><small>Expiry:</small> </p>
    </div>
    <div class='col-9'>
      <p><small>...... </small><%= giverName %></p>
      <p><small>...... </small><%= receiverName %></p>
      <p><small>...... </small><%= beerTicketData.beer_status %></p>
      <p><small>...... </small><%= beerTicketData.beer_redeemed_date %></p>
    </div>
  </section>

  <section class = "row my-row">
    <a href="/transactions/done" >View all redeemed tickets!</a>
  </section>

</div>
  <%- include ('partials/footer') %> 