<%- include ('partials/header') %> 
<%- include ('partials/nav') %> 

<div class="container-fluid my-container beer-ticket-container d-flex flex-column align-items-center justify-content-center">

  <section class = "row my-row my-row-beer-ticket pattern-dots-sm">
    <h2>BEER TICKET: <%= beerTicketId %></h2>
    <div>
      <p>Giver: <%= giverName %></p>
      <p>Reciever: <%= receiverName %></p>
      <p>Ticket Details:</p>
      <p>Status: <%= beerTicketData.beer_status %></p>
      <p>Expiry: <%= beerTicketData.beer_expiry_date %></p>
    </div>
  </section>

  <section class = "row ">

    <div class="col d-flex align-items-center">
      <a class="btn btn-primary" href="/beer/redeem" role="button">GO BACK</a>
    </div>

    <div class="col d-flex align-items-center">
      <a class="btn btn-primary" href="/beer/ticket/redeem=true/<%= beerTicketId %>" role="button">I HAVE REDEEMED MY 🍺</a>
    </div>
  </section>

</div>
<%- include ('partials/footer') %> 