<%- include ('partials/header') %> 
<%- include ('partials/nav') %> 


<div class="container-fluid my-container-profile">

  <section class = "row my-row-profile text-center">

    <div class = "col my-col-profile">
      <img src="<%= currentUserProfilePictureUrl %>" alt="<%= currentUserProfilePictureAltText %>" class = "user-profile-img-large">
      <h6 class=""><%= userName %></h6>
    </div>

    <div class = "col col my-col-profile">
      
      <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">edit profile</a>
      <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">beer settings</a>
      <a href="/logout" class="btn" tabindex="-1" role="button">log out</a>

    </div>

  </section>

</div>  

<%- include ('partials/footer') %> 